<!DOCTYPE html>
<html lang="fr">
<head>

  <meta charset="UTF-8">
  <title>OEASC - {%- block title %}  {%- endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png')}}" />

  {%- block css %}

  {% include "modules/oeasc/site/css.html" %}

  {%- endblock %}
</head>

<body>

  <div class="container-fluid">
    {%- block header %}
    {% include "modules/oeasc/site/menu.html" %}
    {% include "modules/oeasc/site/titre.html" %}
    {%- endblock %}

    <div>
      {%- for message in get_flashed_messages() %}
      <div class="flash">
        {{ message }}
      </div>
      {%- endfor %}
    </div>

    <div class="content">
      {%- block content %}
      {%- endblock %}
    </div>

    {% include "modules/oeasc/site/footer.html" %}
  </div>



  {%- block js %}

      {%- block js_dist %}

      {%- set liste_js = [

        "node_modules/jquery/dist/jquery.min.js",
        "node_modules/jquery-color/jquery.color.js",
        "node_modules/jquery.scrollto/jquery.scrollTo.min.js",
        "node_modules/popper.js/dist/umd/popper.min.js",
        "node_modules/bootstrap/dist/js/bootstrap.min.js",
        "node_modules/bootstrap-select/dist/js/bootstrap-select.min.js",

        "node_modules/datatables.net/js/jquery.dataTables.min.js",
        "node_modules/mark.js/dist/jquery.mark.min.js",
        "node_modules/mark.js/dist/mark.min.js",
        "node_modules/datatables.net-rowgroup/js/dataTables.rowGroup.min.js",
        "node_modules/datatables.net-buttons/js/dataTables.buttons.js",
        "node_modules/datatables.net-buttons/js/buttons.flash.js",
        "node_modules/datatables.net-buttons/js/buttons.colVis.min.js",
        "node_modules/jszip/dist/jszip.min.js",

        'node_modules/pdfmake/build/pdfmake.min.js',
        'node_modules/pdfmake/build/vfs_fonts.js',
        "node_modules/datatables.net-buttons/js/buttons.html5.js",
        "node_modules/datatables.net-buttons/js/buttons.colVis.js",
        "node_modules/datatables.net-buttons/js/buttons.print.js",

        "node_modules/leaflet/dist/leaflet.js",
        "node_modules/leaflet-ajax/dist/leaflet.ajax.min.js",
        "node_modules/leaflet-image/leaflet-image.js",

        "node_modules/dom-to-image/dist/dom-to-image.min.js",

        "js/utils/leaflet-betterscale.js",

        "js/utils/html2pdf.bundle.min.js",


        ]%}
        <!-- "node_modules/leaflet.markercluster/dist/leaflet.markercluster.js", -->
        <!-- "node_modules/leaflet.pattern/dist/leaflet.pattern.js", -->

        {%- for js in liste_js %}

        <script src="{{ url_for('static', filename=js) }}"></script>

        {%- endfor %}
        {%- endblock js_dist%}


        {%- block js_local %}
        <script>

          $(document).ready(function() {

            $('[data-toggle="tooltip"]').tooltip();
            $('#div_footer').height($('footer').height());
            $('.sidebar_sticky').css('top', $('#menu').height() + 50);

            $('.dropdown-toggle').click(function() {
              if ($(this).next('.dropdown-menu').is(':visible')) {
                window.location = $(this).attr('href');
              }
            });
            $('li.dropdown').on("blur", function(e) { console.log("a"); e.preventDefault(); })
            $('li.dropdown').on("focusout", function(e) { console.log("aa"); e.preventDefault(); })

            // animate scroll to anchor + color
            var class_select="select-title"
            $('.scroll-anime').click(function(e){
              console.log("a");

              var color = '#FF851B'

              var href = $(this).attr('href')

              $('.scroll-anime').each(function() {

                var href = $(this).attr('href');
                $(href).removeClass(class_select)

                // $(href).animate({backgroundColor: '#FFFFFF'}, 500);
                // $(this).animate({backgroundColor: '#FFFFFF'}, 500);
                $(this).css('font-weight', '');

              });

              e.preventDefault();
              var href = $(this).attr('href')
              var y = $(href).offset().top - $('#menu').height();
              console.log(y, $(href).offset().top, $(href));

              $("html, body").animate({ scrollTop: $(href).offset().top - $('#menu').height() - 50}, 1000);
                // $(href).animate({backgroundColor: color}, 1000);
                $(href).addClass(class_select)
                $(this).css('font-weight', 'bold');
                $('[href="' + href + '"]').css('font-weight', 'bold');

            });
          });

      </script>

      <script src="{{ url_for('static', filename='modules/oeasc/js/oeasc_config.js') }}"></script>

      {# Ajout de la config #}
      <script>
          $(document).ready(function() {

            "use strict";


            var config = '{{ utils.get_some_config(config)|tojson if config }}';
            if(config) config = JSON.parse(config);

            var current_user = '{{ current_user|tojson if current_user }}';
            if(current_user) current_user = JSON.parse(current_user);
            console.log(current_user)

            var cl = function(...args) {
              console.log(...args)
            }

            M.cl = cl;
            M.current_user = current_user;
            M.config=config;

        });

      </script>

      <script src="{{ url_for('static', filename='modules/oeasc/js/util_db.js') }}"></script>
      <script src="{{ url_for('static', filename='modules/oeasc/js/util_carte.js') }}"></script>
      <script src="{{ url_for('static', filename='modules/oeasc/js/util_form.js') }}"></script>

      {%- endblock js_local%}




  {%- endblock %}


</body>

</html>
