{%- import "modules/oeasc/macros/macros.html" as m %}


<div class="sidebar_sticky">
  <ul>
    <li>{{ m.link_bold("Le système d'alerte",'declaration.signalement_degats_forestiers') }}
      <ul>
        <li>{{ m.link_bold("Les dégâts de grand gibier",'declaration.degats_gibier') }}</li>
        <li ><a href="{{url_for('declaration.route_declarations')}}">Alertes déclarées</a></li>
      </ul>
    </li>

    {% if request.endpoint != 'declaration.informations_declaration' %}
    <hr>
    <li><a class="btn btn-success" href="{{url_for('declaration.informations_declaration')}}">Je signale des dégâts en forêt</a></li>
    {% else %}
    <hr>
    <li><a class="btn btn-success" href="{{url_for('declaration.modifier_declaration')}}">Commencer la déclaration</a></li>
    {% endif %}

    {% if request.endpoint == 'declaration.declaration' %}
    <hr>
    <li><a  class="btn btn-success"href="#" onclick="M.toPDF_map('declaration_' + {{ declaration['id_declaration'] }})">Exporter au format PDFA</a></li>
    {% endif %}

  </ul>

</div>
