{%- import "modules/oeasc/macros/macros.html" as m %}


<div id="sidebar_sticky">

  <ul class="main-pages">

    <li>{{ m.link_bold("Le système d'alerte",'oeasc.signalement_degats_forestiers') }}</li>
  </ul>
  <hr>
  <ul class="medium-pages">

    <li>{{ m.link_bold("Les dégâts de grand gibier",'oeasc.degats_gibier') }}</li>
    {% if request.endpoint != 'oeasc.informations_declaration' %}

    <hr>

    <li class="alert alert-primary">
      <a href="{{url_for('oeasc.informations_declaration')}}"><b>Je déclare une nouvelle alerte</b></a>
    </li>


    <hr>

    <li class="alert alert-warning">
      <a href="{{url_for('oeasc.declarations')}}">Je consulte les alertes que j'ai déclarées</a>
    </li>
  </ul>
  {% endif %}
  <!-- <li>{{ m.link_bold("Je consulte mes alertes",'oeasc.declarations') }}</li> -->

  {% if request.endpoint == 'oeasc.informations_declaration' %}
  <ul class="inter-pages">
   <hr>
    <li class="alert alert-primary">
      <a href="{{url_for('oeasc.modifier_declaration')}}">Commencer la déclaration de dégâts</a>
    </li>
  </ul>
  {% endif %}

</div>
