# server.py
#OTHER/
data/donnees_gestion_foret
data/limites_pnc
data/Zonage_OEASC
data/csv/ref_geo
remove/
*.pyc
venv/
var/log/error*
config/settings.ini
config/settings.ini_*
config/config.py

install/scripts_db/SQL/ref_geo_import.sql
install/scripts_db/SQL/ref_geo_process.sql

install/script_db/config.csv

# install/minimal_db/nomenclatures.sql
# install/minimal_db/utilisateurs.sql
# install/minimal_db/ref_geo.sql

static/data/*.json

static/node_modules
static/documents
static/shapefiles/*
!static/shapefiles/.gitkeep

static/dist/*
!static/dist/.gitkeep
static/src/js/config/config*.js

procedure_install_server.sh

var/log/*.log
.vscode/*
*.save


# frontend

static/frontend/.DS_Store
static/frontend/node_modules
static/frontend/dist
static/frontend/public/documents

# local env files
static/frontend/.env.local
static/frontend/.env.*.local

# Log files
static/frontend/npm-debug.log*
static/frontend/yarn-debug.log*
static/frontend/yarn-error.log*

# Editor directories and files
static/frontend/.vscode

static/frontend/vue.config.js
static/frontend/src/config/config.js

    
