# server.py
#OTHER/
data/donnees_gestion_foret
data/limites_pnc
data/Zonage_OEASC
data/csv/ref_geo
remove/
*.pyc
venv/
var/log/error*
settings.ini
config/settings.ini_*
config/config.py

install/scripts_db/SQL/ref_geo_import.sql
install/scripts_db/SQL/ref_geo_process.sql

install/script_db/config.csv

static/medias/img/*
static/medias/doc/*
# install/minimal_db/nomenclatures.sql
# install/minimal_db/utilisateurs.sql
# install/minimal_db/ref_geo.sql

static/data/*.json

static/node_modules
static/documents
static/shapefiles/*

static/dist/*
static/src/js/config/config*.js

procedure_install_server.sh

var/log/*.log
.vscode/*
*.save


# frontend

frontend/.DS_Store
frontend/node_modules
frontend/dist
frontend/public/documents

# local env files
frontend/.env.local
frontend/.env.*.local

# Log files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Editor directories and files
frontend/.vscode

# frontend/vue.config.js
frontend/src/config/config.js
var/log/*
    

# chasse
data/chasse/settings.ini
data/chasse/shp/*
data/chasse/data/*


!.gitkeep
