alembic==1.14.1
amqp==5.3.1
async-timeout==5.0.1
attrs==25.1.0
Authlib==1.5.1
babel==2.17.0
bcrypt==4.3.0
billiard==4.2.1
blinker==1.9.0
bokeh==3.4.1
Brotli==1.1.0
celery==5.4.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cligj==0.7.2
contourpy==1.3.1
cryptography==44.0.2
cssselect2==0.7.0
fiona==1.10.1
Flask==3.1.0
Flask-Admin==1.6.1
flask-babel==4.0.0
flask-cors==5.0.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
flask-marshmallow==1.3.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.2.2
flask_weasyprint==1.1.0
fonttools==4.56.0
Genshi==0.7.9
GeoAlchemy2==0.17.1
geojson==3.2.0
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
importlib_metadata==8.6.1
inflect==7.5.0
itsdangerous==2.2.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kombu==5.4.2
lxml==5.3.1
Mako==1.3.9
Markdown==3.7
MarkupSafe==3.0.2
marshmallow==3.26.1
marshmallow-sqlalchemy==1.4.1
marshmallow_geojson==0.5.0
more-itertools==10.6.0
numpy==2.2.3
packaging==24.2
pandas==2.2.3
patsy==1.0.1
Pillow==9.5.0
pipdeptree==2.25.0
prompt_toolkit==3.0.50
psycopg2==2.9.10
py3o.template==0.10.0
pycparser==2.22
pydyf==0.11.0
pyjon.utils==0.7
pyphen==0.17.2
pypn-ref-geo==1.5.4
pypn_habref_api==0.4.1
pypnnomenclature @ https://github.com/PnX-SI/Nomenclature-api-module/archive/refs/heads/master.zip#sha256=87759fadd93970e20802a43c91fdd92ac2a4aaf4122d3810495a5df98accf7e0
pypnusershub==3.0.2
pyproj==3.7.1
pyshp==2.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
redis==5.2.1
referencing==0.36.2
requests==2.32.3
rpds-py==0.23.1
scipy==1.15.2
sentry-sdk==2.22.0
shapely==2.0.7
six==1.17.0
sqlacodegen==2.0.0
SQLAlchemy==1.4.54
statsmodels==0.14.4
taxhub==2.1.2
tinycss2==1.4.0
tinyhtml5==2.0.0
toml==0.10.2
tornado==6.4.2
typeguard==4.4.2
typing_extensions==4.12.2
tzdata==2025.1
Unidecode==1.3.8
urllib3==2.3.0
utils-flask-sqlalchemy==0.4.1
utils-flask-sqlalchemy-geo @ https://github.com/PnX-SI/Utils-Flask-SQLAlchemy-Geo/archive/refs/heads/master.zip#sha256=214f2635eac9dcc24ae5a4fcf7957254231843955075bed8c67e8160807225f6
vine==5.1.0
wcwidth==0.2.13
weasyprint==64.1
webencodings==0.5.1
Werkzeug==3.1.3
WTForms==3.1.2
WTForms-SQLAlchemy==0.4.2
xmltodict==0.14.2
xyzservices==2025.1.0
zipp==3.21.0
zopfli==0.2.3.post1