click==6.7
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-Mail==0.9.1
Flask-WTF==0.14.2
GeoAlchemy2==0.4.2
geojson==2.4.0
inflect==0.3.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
marshmallow==2.15.3
numpy==1.14.5
#pkg-resources==0.0.0
psycopg2==2.7.5
#pygdal==2.2.3.3
#pygdal==2.2.2.3
#pyproj==1.9.5.1
pyshp==1.2.12
python-dateutil==2.7.3
Shapely==1.6.4.post1
six==1.11.0
sqlacodegen==2.0.0
SQLAlchemy==1.2.8
toml==0.9.4
Werkzeug==0.15.3
WTForms==2.2.1
#https://github.com/PnX-SI/UsersHub-authentification-module/develop.zip
https://github.com/PnX-SI/Nomenclature-api-module/archive/master.zip
git+https://github.com/joelclems/UsersHub-authentification-module@develop




Flask-Bcrypt==0.7.1




