{# macros pour les formulaires #}

{%- import "modules/oeasc/form/form_macros.html" as macros %}

{%- include "modules/oeasc/form/fil_ariane.html"%}

<div id="id_form" data-id-form="{{ id_form }}" style="display: none;"></div>


{%- set foret = declaration["foret"]%}
{%- include "modules/oeasc/form/form_foret.html" %}


<form id="form_areas_localisation" data-areas='{{ declaration["areas_localisation"]|tojson if declaration["areas_localisation"] is defined else [] }}'>

{# cas ONF #}
{%- if foret['b_statut_public'] == true and foret['b_document'] == true %}

  {% set areas_selected = utils.get_areas_from_type_code(declaration["areas_localisation"], "OEASC_ONF_PRF") %}
  {% set areas_container = utils.get_areas_from_type_code(foret['areas_foret'],'OEASC_ONF_FRT') %}

  {% if areas_container and areas_selected == [] %}

    {{ macros.select_map("OEASC_ONF_PRF", areas_selected, areas_container) }}

  {% else %}

    {% set areas_selected = utils.get_areas_from_type_code(declaration["areas_localisation"], "OEASC_ONF_UG") %}
    {% set areas_container = utils.get_areas_from_type_code(declaration["areas_localisation"], "OEASC_ONF_PRF") %}

    {% if areas_container %}

      {{ macros.select_map("OEASC_ONF_UG", areas_selected, areas_container) }}

    {% endif %}

  {% endif %}

{# cas DGD #}
{%- elif foret['b_statut_public']==false and foret['b_document'] ==true %}

  {% set areas_selected = utils.get_areas_from_type_code(declaration["areas_localisation"], "OEASC_CADASTRE") %}
  {% set areas_container = utils.get_areas_from_type_code(foret['areas_foret'],'OEASC_DGD') %}

  {% if areas_container %}

    {{ macros.select_map("OEASC_CADASTRE", areas_selected, areas_container) }}

  {% endif %}

{# cas non documentés #}
{%- elif foret['b_document'] == false %}

  aaa

  {% set areas_selected = utils.get_areas_from_type_code(declaration["areas_localisation"], "OEASC_CADASTRE") %}
  {% set areas_container = utils.get_areas_from_type_code(foret['areas_foret'],'OEASC_SECTION') %}

  {% if areas_container %}

    {{ macros.select_map("OEASC_CADASTRE", areas_selected, areas_container) }}

  {% endif %}

{%- endif %}

  <input type=submit value=Suivant class="btn btn-success bottom-right">

</form>

{%- include "modules/oeasc/form/form_peuplement.html" %}


{%- set degats = declaration["degats"] %}
{%- include "modules/oeasc/form/form_degats.html" %}


<form id="form_commentaire">

  <h4>Commentaires</h4>

  <label for="commentaire"></label>

  <textarea name="commentaire" id="commentaire" class="form-control" rows="5" maxlength="1000">

    {{ declaration.commentaire or ""}}

  </textarea>

  <input type=submit value=Suivant class="btn btn-success bottom-right">

</form>


<form id="form_declaration" data-id-declaration="{{declaration['id_declaration']}}" data-id-declarant={{session.current_user.id_role}}>

  <h4>Validation</h4>

  <p>Vous pouvez vérifier ci-dessous les renseignements fournis pour la déclaration, avant de valider et envoyer le formulaire.</p>

  <input type=submit value="Envoyer le formulaire"  class="btn btn-success top-right">

  <div id="declaration">

    {%- include "modules/oeasc/entity/declaration.html" %}

  </div>

</form>

{%- include "modules/oeasc/form/tooltips.html" %}
