<div id="form_foret" data-id-foret="{{ foret.id_foret or ''}}"></div>

<form id="form_foret_statut">

  <h4>Statut de la forêt</h4>

  {{ macros.choix("Public", "Privé", 'b_statut_public' ,'Statut de la forêt', object=foret) }}

  {%- if foret.b_statut_public == true or foret.b_statut_public == false %}

    {%- if foret.b_statut_public == true %}

      {%- set titre_document = "La forêt relève t'elle du régime ONF" %}

    {%- else %}

      {%- set titre_document = "La forêt possède t'elle un document de gestion durable" %}

    {%- endif %}

    {{ macros.choix("Oui", "Non" ,'b_document' ,titre_document , object=foret) }}

  {%- endif %}

  <div><p><i><span class="rouge">*</span> Obligatoire.</i></p></div>

  <input type=submit value=Suivant class="btn btn-success bottom-right">

</form>

<form id="form_areas_foret" data-areas='{{ foret["areas_foret"]|tojson if foret["areas_foret"] is defined else [] }}'>

{# cas ONF #}
{%- if foret['b_statut_public'] == true and foret['b_document'] == true %}

  {% set areas_selected = utils.get_areas_from_type_code(foret["areas_foret"], "OEASC_ONF_FRT")%}

  {{ macros.select_map("OEASC_ONF_FRT", areas_selected, b_multiple=false, titre="Forêt ONF") }}

{# cas DGD #}
{%- elif foret['b_statut_public']==false and foret['b_document'] ==true %}

  {% set areas_selected = utils.get_areas_from_type_code(foret["areas_foret"], "OEASC_DGD")%}

  {{ macros.select_map("OEASC_DGD", areas_selected, b_multiple=false) }}

{# cas autres (communes et sections) #}
{%- elif foret['b_document'] == false %}

  {% set areas_selected = utils.get_areas_from_type_code(foret["areas_foret"], "OEASC_COMMUNE")%}

  {% if not areas_selected %}

    {{ macros.select_map("OEASC_COMMUNE", areas_selected) }}

  {% else %}

    {% set areas_container = utils.get_areas_from_type_code(foret["areas_foret"], "OEASC_COMMUNE")%}
    {% set areas_selected = utils.get_areas_from_type_code(foret["areas_foret"], "OEASC_SECTION")%}

    {% if areas_container %}

      {{ macros.select_map("OEASC_SECTION", areas_selected, areas_container) }}

    {% endif %}

  {% endif %}

{%- endif %}

  <div><p><i><span class="rouge">*</span> Obligatoire.</i></p></div>

  <input type=submit value=Suivant class="btn btn-success bottom-right">

</form>


<form id="form_information_foret">

  <h4>Informations sur la forêt</h4>

  {{ macros.input_text("nom_foret", "Nom de la forêt", foret, required='') }}

  {{ macros.input_double("superficie", "Superficie totale de la forêt", foret, required='' if foret['b_document'] else "required") }}

  <div><p><i><span class="rouge">*</span> Obligatoire.</i></p></div>

  <input type=submit value=Suivant class="btn btn-success bottom-right">

</form>


{%- set proprietaire = foret.proprietaire %}
{%- include "modules/oeasc/form/form_proprietaire.html" %}
