<div id="form_foret" data-id-foret="{{ foret.id_foret or ''}}"></div>

<form id="form_foret_statut">

  <h4>Statut de la forêt</h4>

  {{ macros.choix("Public", "Privé", 'b_statut_public' ,'Statut de la forêt', object=foret) }}

  {% if foret.b_statut_public == true or foret.b_statut_public == false %}

    {% if foret.b_statut_public == true %}

      {% set titre_document = "La forêt relève t'elle du régime ONF" %}

    {% else %}

      {% set titre_document = "La forêt possède t'elle un document de gestion durable" %}

    {% endif %}

    {{ macros.choix("Oui", "Non" ,'b_document' ,titre_document , object=foret) }}

  {% endif %}

  <input type=submit value=Suivant class="btn btn-success bottom-right">

</form>

{% if foret['b_statut_public'] and foret['b_document'] %}

  {% set ns.localisation_type = "ONF_FRT" %}

{% elif foret['b_statut_public']==false and foret['b_document'] %}

  {% set ns.localisation_type = "DGD" %}

{% elif foret['b_document']==false %}

  {% set ns.localisation_type = "COMMUNE" %}

{% endif %}


{{ macros.select_map("areas_foret", ns.localisation_type, foret["areas_foret"]) }}

{#
  <form id="form_proprietaire_declarant">

    {{ macros.radio_nomenclature("id_nomenclature_proprietaire_declarant", nomenclature, "OEASC_PROPRIETAIRE_DECLARANT", "radio", "Le Déclarant est-il le propriétaire de la forêt ?", object=foret) }}

    <input type=submit value=Suivant class="btn btn-success bottom-right">

  </form> #}

  {% set proprietaire = foret.proprietaire %}
  {% include "modules/oeasc/form/form_proprietaire.html" %}


  <form id="form_information_foret">

    <h4>Informations sur la forêt</h4>



    {{ macros.input_text("s_nom_foret", "Nom de la forêt", foret, required="required" if foret['b_statut'] else '') }}

    {{ macros.input_double("d_superficie", "Superficie totale de la forêt", foret) }}

    <input type=submit value=Suivant class="btn btn-success bottom-right">

  </form>
