import { configMap, preConfigMap } from './config-map';

const config = {
  URL_APPLICATION: 'http://localhost:5005',
  ID_APPLICATION: '500',
  defaultContents: 'accueil',
  map: configMap,
  preConfigMap,
};

export { config };
