{% extends "modules/oeasc/layout.html" %}

{% block title %}Signalement de dégâts forestiers{% endblock %}

{% block content %}


<div id="declarations" style='display: none'>

  {%- for declaration in declarations %}
  <div data-declaration='{{declaration}}'></div>
  {%- endfor %}

</div>

<div class="row">

  <div class="col-md-12">

    <div id='liste_declarations'>
      <h2>Liste de délaration</h2>

      <table id="table_declarations" class="table-striped">

        <thead>

          <tr>
            <th>ID</th>
            <th>Organisme</th>
            <th>Statut</th>
            <th>Documentée</th>
            <th>Essence Objectif Principale</th>
            <th>Gravité</th>
            <th>Action</th>
          </tr>

        </thead>

        <tbody>

          {% for declaration in declarations %}

          {%- if session.current_user %}

          {%- set cond_modifier_effacer = (session.current_user.id_droit_max > 5) or (session.current_user.id_role == declaration.id_role)%}

          {%- else %}

          {% set cond_modifier_effacer = false%}

          {%- endif %}

          <tr>

            <td>{{ declaration['id_declaration'] }}</td>

            <td>{{ utils.get_organisme_name_from_declarant_id(declaration['id_declarant'])}}</td>

            <td>{{ "Public" if declaration['foret']['b_statut_public'] else "Privé"}}</td>

            {%- if declaration.foret.b_document %}

            <td>{{ "Régime ONF" if declaration.foret.b_statut_public else "DGD" }}</td>

            {% else %}

            <td>Non documentée</td>

            {% endif %}

            <td>{{ utils.get_nomenclature_from_id(declaration.id_nomenclature_peuplement_essence_principale, nomenclature) }}</td>

            <td>{{ utils.get_gravite(declaration, nomenclature) }}</td>

            <td>

              <a href="{{ url_for('oeasc.declaration', id_declaration=declaration['id_declaration'])}}">
                <button type="button" title="Voir la déclaration" class="button-voir-declaration btn btn-info"><span class="fas fa-eye"></span></button>
              </a>


              {%- if cond_modifier_effacer %}

              <a href="{{ url_for('oeasc.modifier_declaration', id_declaration=declaration['id_declaration'])}}">
                <button type="button" title="Modifier la déclaration" class="button-modifier-declaration btn btn-primary"><span class="fas fa-pen"></span></button>
              </a>

              <a href="#">
                <button type="button" data-id-declaration="{{ declaration['id_declaration'] }}" title="Supprimer la déclaration" class="button-supprimer-declaration btn btn-danger"><span class="fas fa-times"></span></button>
              </a>

              {%- else %}

              {%- endif %}

            </td>

          </tr>

          {% endfor %}

        </tbody>

      </table>

    </div>

    <div id="show_declarations">

      <div id="map_show_declarations" class="map"></div>

      <div id="infos_map" class="infos_map"></div>

      <div id="chargement">

        <div>Chargement en cours <span class="fa fa-spinner"></span></div>

      </div>

    </div>

  </div>

</div>

{% endblock %}

{% block js_local %}

{{ super() }}

<script src="{{ url_for('static', filename='modules/oeasc/js/util_form.js') }}"></script>
<script src="{{ url_for('static', filename='modules/oeasc/js/util_data.js') }}"></script>
<script src="{{ url_for('static', filename='modules/oeasc/js/util_localisation.js') }}"></script>

<script>

  $(document).ready(function() {

    "use strict";

    var table = $("#table_declarations").DataTable({

      mark: true,
      "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json" }

    });

    table.on('search.dt', function() {
    //number of filtered rows
    // console.log(table.rows( { filter : 'applied'} ).nodes().length);
    //filtered rows data as arrays
    // console.log(table.rows( { filter : 'applied'} ).data());

    var table_filtered = table.rows( { filter : 'applied'} ).data()

    var v_filtered = [];

    table_filtered.each(function(e){

      var id_declaration = parseInt(e[0])

      v_filtered.push(id_declaration);

    });

    console.log(v_filtered);

    if(!M.markers_save) {

      M.markers_save = [];

    }

    M.markers.getLayers().forEach(function(e) {

      console.log(e);

      M.markers_save.push(e);
      M.markers.removeLayer(e);

    });

    M.markers_save.forEach(function(e) {

      if(v_filtered.indexOf(e.id_declaration) != -1) {

        M.markers.addLayer(e);

      }

    });


  })

    var declarations = [];
    $("#declarations div").each(function(){

      var declaration = M.get_from_flask_json($(this).attr("data-declaration"));
      declarations.push(declaration);

    });

    M.initialiser_show_declarations('show_declarations', declarations);

    $(".button-supprimer-declaration").click(function() {

      var $this = $(this);
      var id_declaration = $this.attr('data-id-declaration');

      $.ajax({

        type: 'POST',
        url: "/api/oeasc/delete_declaration/" + id_declaration,

      }).done(function(response) {

        console.log("done : " + this.url);
        $this.parents("tr").remove();

      }).fail(function(response) {

        console.log("fail : " + this.url, response);

      });

    });

  });

</script>

{% endblock %}
