{% extends "modules/oeasc/layout.html" %}

{% set ns = namespace() %}

{% block title %}Signalement de dégâts forestiers{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-12">

    <h2>Signalez un dégât en forêt</h2>


    <div id="form_display">


    </div>



    <div id="form_container">
      {% include "modules/oeasc/form/form_declaration.html" %}
    </div>

    <div id="form_send" style="display:none;">

      <p>Votre signalement de dégât de forêt a bien été envoyé.</p>

      <ul>
        <li><a href="{{ url_for('oeasc.modifier_declaration')}}">Je déclare des dégâts sur ma forêt (ou la forêt dont je suis le gestionnaire).</a></li>
        <li><a href="{{ url_for('oeasc.declarations')}}">Je consulte mes alertes.</a></li> {# TODO #}
      </ul>

    </div>


    <div id="infos"></div>

  </div>

</div>

{% endblock %}

{% block js_local %}

{{ super() }}

<script src="{{ url_for('static', filename='modules/oeasc/js/util_form.js') }}"></script>
<script src="{{ url_for('static', filename='modules/oeasc/js/util_data.js') }}"></script>
<script src="{{ url_for('static', filename='modules/oeasc/js/util_localisation.js') }}"></script>

<script src="{{ url_for('static', filename='modules/oeasc/js/oeasc_declaration.js') }}"></script>

{% endblock %}
