    {%- import "modules/oeasc/macros/form_display.html" as macros_dsiplay %}


    {%- set foret = declaration["foret"]%}


    <p>Utilisateur :</p>

    <ul>
      <li><b>Nom - prénom</b> : {{user.nom_role}} {{user.prenom_role}}</li>
      {# <li><b>Prénom</b> : {{user.prenom_role}}</li> #}
      <li><b>E-mail</b> : {{user.email}}</li>
      <li><b>Organisme</b> : {{user.organisme}}</li>
      <li><b>Rôle</b> : {{user.desc_role}}</li>
    </ul>


    <p>Forêt :</p>
    <ul>

      <li><b>Nom de la forêt</b> : {{foret.label_foret if foret.label_foret!="" else "nom inconnu"}}.</li>
      <li><b>Statut de la forêt</b> : {%- if foret.b_statut_public %} public {%- else %} privé {%- endif %},

        {%- if foret.b_document %}

        {%- if foret.b_statut_public %}
        appartenant au régime forestier.
        {%- else %}
        possédant un document de gestion durable.
        {%- endif %}

        {%- else %}

        non documenté.

        {%- endif %}
      </li>
      <li><b>Type de forêt</b> : {{ utils.get_foret_type(declaration['foret']) | lower}}.</li>
      {{ macros_display.list_areas('OEASC_COMMUNE', 'Commune(s)', declaration["foret"]["areas_foret"], 'li') }}
      {{ macros_display.list_areas('OEASC_SECTION', 'Section(s) cadastrale(s)', declaration["foret"]["areas_foret"], 'li') }}

    </ul>

    <p>Peuplement :</p>

    <ul>
      <li>Localisation :
        <ul>
          {{ macros_display.list_areas('OEASC_CADASTRE', 'Parcelle(s) cadastrales(s)', declaration["areas_localisation"], 'li') }}
          {{ macros_display.list_areas('OEASC_ONF_PRF', 'Parcelle(s) forestière(s)', declaration["areas_localisation"], 'li') }}
          {{ macros_display.list_areas('OEASC_ONF_UG', 'Unité(s) de gestion forestière(s)', declaration["areas_localisation"], 'li') }}
        </ul>
      </li>

      <li>Essence(s) :
        <ul>
          <li><b>Principale</b> : {{ declaration.id_nomenclature_peuplement_essence_principale.label_fr | lower }}.</li>
          {{macros_display.list_nomenclatures('Secondaire(s)', declaration.nomenclatures_peuplement_essence_secondaire, 'li')}}
          {{macros_display.list_nomenclatures('Complémentaire(s)', declaration.nomenclatures_peuplement_essence_complémentaire, 'li')}}
        </ul>
      </li>

      <li>Détails :

        <ul>
          <li><b>Origine du peuplement</b> : {{ declaration.id_nomenclature_peuplement_origine.label_fr | lower }}.</li>
          <li><b>Type de peuplement</b> : {{ declaration.id_nomenclature_peuplement_type.label_fr | lower }}.</li>

          {%- if  declaration.id_nomenclature_peuplement_type.cd_nomenclature != "F. irr." %}

          {{macros_display.list_nomenclatures('Maturité du peuplement', declaration.nomenclatures_peuplement_maturite, 'li')}}

          {%- endif %}

        </ul>
      </li>

      <li>Protection :

        <ul>
          <li><b>Existence de protection</b> : {%- if declaration.b_peuplement_protection_existence %} oui {%- else %} non {%- endif %}.</li>

          {{macros_display.list_nomenclatures('Type de protection', declaration.nomenclatures_peuplement_protection_type, 'li')}}

        </ul>
      </li>



      <li>Pâturage :

        <ul>
          <li><b>Existence de paturage</b> : {%- if declaration.b_peuplement_paturage_presence %} oui {%- else %} non {%- endif %}.</li>

          {%- if declaration['b_peuplement_paturage_presence'] %}

          <li><b>Type</b> : {{ declaration.id_nomenclature_peuplement_paturage_type.label_fr | nopar | lower }}. </li>

          {{macros_display.list_nomenclatures('Fréquence du paturage', declaration.nomenclatures_peuplement_paturage_statut, 'li')}}

          <li><b>Fréquence du paturage</b> : {{ declaration.id_nomenclature_peuplement_paturage_frequence.label_fr | nopar | lower }}. </li>

          {%- endif %}

        </ul>
      </li>


      <li>Autres :

        <ul>
          <li><b>Accessibilité du peuplement</b> : {{ declaration.id_nomenclature_peuplement_acces.label_fr | lower }}.</li>

          {{macros_display.list_nomenclatures('Espèce(s) avérée(s)', declaration.nomenclatures_peuplement_espece, 'li')}}

        </ul>

      </li>
</ul>

      <p>Caractétisation des dégâts :</p>

<ul>

  {%- for degat in declaration.degats %}

  <li>  <b>{{ degat.id_nomenclature_degat_type.label_fr }}</b>

    <ul>

      {%- for degat_essence in degat['degat_essences'] %}

      {% if degat_essence != {} %}

      <li>{{ degat_essence.id_nomenclature_degat_essence.label_fr}}{{"." if degat.id_nomenclature_degat_type.cd_nomenclature == 'ABS' else " :"}}

        {% if degat.id_nomenclature_degat_type.cd_nomenclature != 'ABS' %}
{#         <ul>

          <li><i>étendue</i> : {{ degat_essence.id_nomenclature_degat_etendue.label_fr | lower }},</li>
          <li><i>gravité</i> : {{ degat_essence.id_nomenclature_degat_gravite.label_fr | lower}},</li>
          <li><i>antériorité</i> : {{ degat_essence.id_nomenclature_degat_anteriorite.label_fr | lower}}.</li>

        </ul>
 #}
        {{ degat_essence.id_nomenclature_degat_etendue.label_fr | lower }},
        {{ degat_essence.id_nomenclature_degat_gravite.label_fr | lower}},
        {{ degat_essence.id_nomenclature_degat_anteriorite.label_fr | nopar | lower}}.

        {% endif %}

      </li>

      {% endif %}

      {%- endfor %}

    </ul>

  </li>

  {%- endfor %}

</ul>




      <p>Commentaires : {{ declaration.commentaire|nl2br or "" }}</p>

