{% if destinataire == "user" %}

<p>Bonjour,</p>

<p>Vous avez effectué une déclaration de dégâts de grand gibier en forêt sur le site Internet de l'Observatoire de l'équilibre agro‑sylvo‑cynégétique. <b>Nous vous remercions pour votre contribution</b>.</p>
<p>Grâce aux données fournies, <b>vous participez à l'appréciation et au suivi de l'équilibre agro‑sylvo‑cynégétique, ainsi qu'à la définition de mesures de gestion pertinentes</b>.</p>
<p>En tant que propriétaire ou gestionnaire forestier, vous vous inscrivez ainsi pleinement dans la démarche de gestion durable de votre territoire.</p>

<p>Si vous le souhaitez, vous pouvez :</p>
  <ul>
    <li>
      <a href="{{config.URL_APPLICATION}}{{ url_for('declaration.declarations') }}">visualiser (et éventuellement modifier) les alertes que vous avez déclarées</a>, 
    </li>
    <li>
      <a href="{{config.URL_APPLICATION}}{{ url_for('declaration.modifier_declaration') }}">signaler des dégâts sur un autre peuplement</a>, ou
    </li>
    <li>
      <a href="{{config.URL_APPLICATION}}{{ url_for('resultat.degats_forestiers') }}">consulter les résultats</a> des suivis réalisés dans le cadre de l'Observatoire.
    </li>
  </ul>
  
  <p>Au-delà des informations disponibles sur le site Internet de l'Observatoire, vous recevrez par e-mail, une à deux fois par an, un bilan des résultats issus du système d'alerte ou, d'une manière plus large, de l'Observatoire.</p>
  
  <p>L'alerte que vous avez signalée a une durée de validité de 3 ans. A l'issue de ce délai, vous serez recontacté afin de vous permettre de signaler l'évolution ou non de la situation.</p>

  <p>Si le peuplement que vous avez signalé est retenu pour faire l'objet d'un diagnostic sylvicole complet, vous serez contacté directement par l'animateur de l'Observatoire.</p>

  <p>Vous remerciant à nouveau pour votre participation,</p>
  <p>Cordialement,</p>

  <p>Les partenaires de l'Observatoire de l'équilibre agro‑sylvo‑cynégétique</p>

  {% else %}

  <p>Une nouvelle déclaration a été effectuée.</p>

  <ul>
    <li><b>Utilisateur</b> : {{ user.nom_role | upper}} {{ user.prenom_role}}</li>
    <li><b>Organisme</b> : {{user.organisme}}</li>
  </ul>
  <p>Vous pouvez voir les détails de la déclaration en cliquant <a href="{{config.URL_APPLICATION}}{{url_for('declaration.declaration', id_declaration=declaration['id_declaration'])}}">ici</a>.</p>

  {% endif %}

  {% include "modules/oeasc/mail/footer.html" %}
