.map-container {
  display: flex;
  flex-direction: row;
}

.map-img .leaflet-top {
  display: none;
}

.map {
  width: 100%;
  position: relative;
}

.marker-icon {
  position: absolute;
}

.map-select {
    width: 400px;
    margin: 10px;
}

.map-aside {
  margin-left: 10px;
}
