/* main.css */

html {

  position: relative;
  min-height: 100%;

}

body {

  margin: 0; /* pour éviter les marges */
  text-align:  justify;
  /* text-align:  left; */
  word-wrap: break-word;
  background-color: #dfe0db;

}


/* .content > div > div > div{
  background-color: white;
}
*/

.content > .row > div > div{

  padding: 10px;
  /* border-radius: 10px; */
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.content h4 {

  /* font-size: 1.2em; */
  /* text-decoration: underline; */

}
/* header titre */

.center {
  margin-left: auto;
  margin-right:  auto;
}

.flex-container {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.flex-container div:nth-child(2) {

  flex:1;
  text-align: center;

}

.flex-container:first-child {

  margin-left: auto

}

header div {

  display: inline-block;

}

.img-titre h1 {
  font-weight: bold;
  border-radius: 5px;
  text-shadow: 0 0 0.5em #000000;
  padding:  10px;
  margin: 0 100px;
  color: white;

}

.img-titre {

  background-repeat:no-repeat;
  background-position:left top;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-size: cover;
  background-image: url(/static/img/titre/Bandeau_OEASC_172x1920_v4.jpg);
  height: 172px;
}

.img-pnc{
  opacity: 0;
}

.right-header {

  width: 172px;
  height: 172px;
  background-color: rgba(255, 255, 255, 0.5);

}


/* footer */

.footer {

  position: absolute;
  bottom: 0;
  width: 98%;
  /* Set the fixed height of the footer here */
  /* height: 300px; */
  /* line-height: 60px; Vertically center the text there */
  background-color: #f5f5f5;
}

footer a {
  color:  darkgray;
  font-weight: bold;
}

.foot-col {
  padding: 10px;
  text-align: center;
}



/* content */

.content {

  margin: 50px;
}

.content a {

  color: darkorange;

}

.content a:hover {

  color: darkorange;

}

a:hover {

  color: darkorange;

}

/* sidebars */

.sidebar_sticky {


  position: sticky;
  text-align: left;
  /* background-color: lightyellow; */
  padding: 10px;
  /* border-radius: 10px; */
  /* border: 1px solid bisque; */

}

/* ul {
  list-style-type: none;
}
 */
.sidebar_sticky ul {

  list-style-type: none;
  margin: 0;
  padding: 0;

}


.sidebar_sticky a, .sidebar_sticky span {

  display: inline-block;
  padding: 5px 0px 5px 0px;
  color: black;

}

.sidebar_sticky a:hover {

  color: black;

}

.sidebar_sticky li {
  margin: 0px 0px 0px 0px;
  border-style: solid;
  border-color: white;
  border-width: 1px 0px 1px 0px;
}

.sidebar_sticky > ul > li > ul > li > ul > li{
  background-color: #fff3cd;
}



.sidebar_sticky > ul > li > ul > li {
  background-color: #ffa64d;
}

.sidebar_sticky > ul > li {
  background-color: #f29100;
}

.sidebar_sticky > ul > li.signaler-degat {
  background-color: #2e842e;
}



.sidebar_sticky > ul > li > ul > li > ul > li > a,.sidebar_sticky > ul > li > ul > li > ul > li > a:hover, .sidebar_sticky > ul > li > ul > li > ul > li > span {
  margin: 0px 5px 0px 30px;
  font-size: 0.9rem;
  color: darkorange;
}

.sidebar_sticky > ul > li > ul > li > a, .sidebar_sticky > ul > li > ul > li > span {
  margin: 0px 5px 0px 20px;
  font-size: 1rem;
  /* color: white; */
}

.sidebar_sticky > ul > li > a, .sidebar_sticky > ul > li > span {
  margin: 0px 5px 0px 10px;
  /* font-weight: bold; */
  font-size: 1.1rem;
  /* color: white; */
}

li.li-btn {
  margin-top: 20px;
  border-radius: 20px;
  text-align:  center;
  color: white;
  /* padding: 5px 0px 5px 0px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* display: inline-block; */
}


a.li-btn {
  margin-top: 20px;
  background-color: #26ad26;
  border-radius: 20px;
  text-align:  center;
  color: white;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

li.li-btn > a {
  color: white;
  margin:  0px;
}

li.li-btn > a:hover {
  color: white;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.fa-spinner, .spin {

  animation:spin 2s linear infinite;

}

figure{

  text-align: center;
  background-color: #dfe0db;
  /* margin-top: 10px; */
  padding:  5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.figure img{

  border: 1px solid lightgray;
  margin-bottom: 10px;
  max-width: 700px;
}

.figure figcaption{
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  /* font-style: italic; */
}

.text {
  max-width: 800px;
  float: none;
  margin: 0 auto;
}

.text-large {
  max-width: 1000px;
  float: none;
  margin: 0 auto;
}

nav .dropdown:hover > .dropdown-menu {
  display: block;
  opacity: 1;
  /* bottom: 0; */
  top: 90%;
}

.navbar {
  padding-bottom: 0px;
}
.navbar-nav > li {

  z-index: 2;
  padding-bottom: 5px;


}

nav .dropdown-menu {
  /* padding-top: 10px; */
  opacity: 0;
  position: absolute;
  top: -2000px;
  z-index: 1;
}

nav div.dropdown-menu {
  border-radius: 0;
  background-color: rgb(52, 58, 64);
}

nav div.dropdown-menu a {
  color: rgba(255, 255, 255, 0.5);
}

nav div.dropdown-menu a:not(.disabled):hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #212529
}

.info, .input {
  display: none;
}

h2 {
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #ffd391;
    padding: 10px 10px;
    color: #38342a;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/*   color: #856404;
  border-color: #ffeeba;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
*/

form h4 {

  /* color: #856404; */
    color: #1a252f;
    background-color: #ffd391;

  /* background-color: #fff3cd; */
  font-weight: bold;

  border-color: #ffeeba;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.impt-link {

  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-align: center;

}

h3 {

  font-size: 1.5rem;
  font-weight: bold;

}


.mark, mark {
  padding: 0;
  background-color: orange;
}

tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

table

.row-selected {

  background-color: orange;

}

.input input {

  width :  400px;

}

#tableau_declarations table {

  min-height: 100px;
  margin-left: 0px;

}

th, td {

  text-align: left;

}

.table-small {

  font-size: 0.8em;

}

.btn-action, a.btn-action {

  color: #0067b8;

}

.table-small i {
  cursor: pointer;
}

table.dataTable tbody td{

  padding: 5px;
  border-bottom:  1px solid lightgray;

}

table .tr-selected td {

  background-color: orange;
  border-bottom:  2px solid orange;
  border-top:  2px solid orange;

}


table .tr-selected td:first-child{

  border-left:  2px solid orange;

}

table .tr-selected td:last-child{

  border-right:  2px solid orange;

}

.DG_IMPT {

  background-color: rgba(255, 0, 0, 0.5);

}

.DG_MOY {

  background-color: rgba(255, 125, 0, 0.5);

}

.DG_FBL {

  background-color: rgba(255, 255, 0, 0.5);

}

.figure.text {

  max-width:  500px;
}

.main-pages {

}

.medium-pages {

  margin-left: 10px;

}

.inter-pages {

  margin-left: 20px;

}

#table_declarations td {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.spaced figure {

  margin-top: 20px;

}

.flotte {

  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 50%;
  padding: 5px;
  background-color: #dfe0db;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flotte.left {

  float: left;
  margin-right: 10px;

}

.img-container {
  position: relative;
  width: 100%;
}

.img-container img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: Opx;
  left: Opx;
  width: 100%;
  transform: translate(0%, -100%);
  /* -ms-transform: translate(-50%, -50%); */
  text-align: center;
}

.img-container img{
  width: 100%;
}

.img-container:hover img {
  /* opacity: 0.3; */
}

.img-container:hover .img-middle {
  opacity: 0.9;
}

.img-text {
  background-color: rgb(33, 37, 41);
  color: white;
  text-align: center;
  font-size: 0.8rem;
  padding: 5px;
  /* border-radius: 5px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.select-title {

  /* font-weight: bolder; */
/*   color: white;
  background-color: #ef9710;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #af6c06; */
}

.icon-jumelles {
 background-size: cover;
 background-image: url(/static/img/icons/jumelles_30.png);
 display: block;
 height: 20px;
 width: 20px;
}

.alert-orange {
    color: black;
    background-color: #ffb94f;
    border-color: darkorange;
}

.alert-2 {
    color: black;
    background-color: #fd8484;
    border-color: #861700;
}

.alert-3 {
    color: black;
    background-color: #fff3cd;
    border-color: #ffbf64;
}

.card-body {

  background-color: #ececdf;

}

.pdf {
  width:8.3in;
  /* height: 11.7in; */
  padding:  0.5in;
  overflow: hidden;
}

.pdf-like {
  width:8.3in;
}

.declaration-maps .map {
  height: 322px;
  /* width: 700px; */

}

.declaration-maps .map-container {
  margin-top: 5px;
  /* padding: 10px; */
  border:  1px solid lightgray;
  /* display:  inline-block; */
}

.t1 {
  width: 250px;
}

.t2{
}


.table-declaration tbody {

  font-size: 0.8rem;

}

.table-declaration td, .table-declaration th {

  padding: 1px 10px;
  /* border: 0px; */

}


.table-declaration  th[colspan] {
  background-color: #ffd391;
  font-size: 0.9rem;

}

.table-declaration  th:not([colspan]) {
  background-color: #e6ded8;
  padding-left: 20px;
  border-color: #a99d8a;
}

.a-venir {
  color: gray;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.nav-link > .close {
  margin-left: 5px;
  font-size: 1rem;
}

#pdf_infos {
  position: absolute;
  opacity: 0.9;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1011;
}

#pdf_infos_text {
  margin:  100px auto;
  background-color: darkgray;
  color: white;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  font-size: 1.5rem;

}
