


#declaration .tab-content {

  height: 800px

}


/* old */
/* general */
/* à jeter */

nav .dropdown-menu.right {

  position: absolute;
  top: 30px;
  right: 10px;
  /* left: -300%; */
  width: 200px;
}


#sidebar {

  width: 300px;
  /* position: fixed; */
  left: 10px;
  text-align: left;

}


.hidden {

  display: none;

}

.show {

  display: block;

}



.infos_map {

  color: black;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  opacity: 0.7;
  min-width:350px;
  border: 1px solid black;
  min-width:100px;
  padding: 0 10px;
  height: 100px;
  display: none

}


/* header */











.centrage {text-align: center;}














.small{

  font-size: 0.8em;

}

.red {

  color: red;

}

.blue {

  color: darkblue;

}

.big {

  font-size: 2em;

}










#confirm {

  position: fixed;
  width: 400px;
  margin: 0 auto;
  top: 200px;

}



.

form {
  /* min-height: 200px; */
  position: relative;
}


.align-right {

  text-align:  right;
  margin-bottom: 10px;
}

.lg {

  color: lightgray;

}

.dg {

  color: darkgray;

}





h2 {

  margin-bottom: 20px;

}

.dropdown-menu a {

  font-size: 1em;
}













/* .dropdown > .dropdown-toggle:active {
    Without this, clicking will make it sticky
    pointer-events: none;
    } */

