# Database settings

SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost/usershubdb"
SQLALCHEMY_TRACK_MODIFICATIONS = False


# Applications

URL_APPLICATION = "localhost:5000"
URL_USERSHUB="localhost:5001"

MODE_TEST=0

MODE_NEW = 0
# URL_FRONTEND = 'http://localhost:8080'
URL_FRONTEND = URL_APPLICATION + '/front'



ID_APP = 1
SECRET_KEY = 'super secret key'
PASS_METHOD = 'hash'
COOKIE_EXPIRATION = 7200

ENABLE_NOMENCLATURE_TAXONOMIC_FILTERS = True


# Administrateur OEASC

ADMIN_APPLICATION_LOGIN=""
ADMIN_APPLICATION_PASSWORD=""
ADMIN_APPLICATION_MAIL=""


# mail configuration
ANIMATEUR_APPLICATION_MAIL=""
MAIL_SERVER = 'smtp.gmail.com'
MAIL_USE_SSL = ""
MAIL_PORT = 587
MAIL_USERNAME = ''
MAIL_PASSWORD = ''
