# Database settings

SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost/usershubdb"
SQLALCHEMY_TRACK_MODIFICATIONS = False


# Applications

URL_APPLICATION = "localhost:5000"
URL_USERHUB="localhost:5001"

ID_APP = 1
SECRET_KEY = 'super secret key'
PASS_METHOD = 'md5'
COOKIE_EXPIRATION = 7200

ENABLE_NOMENCLATURE_TAXONOMIC_FILTERS = True


# Administrateur OEASC

ADMIN_OEASC_LOGIN=""
ADMIN_OEASC_PASSWORD=""
ADMIN_OEASC_MAIL=""


# mail configuration

DEFAULT_MAIL_SENDER="joel.clement@cevennes-parcnational.fr"
MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 587
MAIL_USERNAME = ''
MAIL_PASSWORD = ''

DB=""
