.flex-container {
  display: flex;
}

.flex-container {
  display: flex;
}

.fil-arianne-container {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fil-arianne-container > div {
  flex-grow: 1;
  text-align: center;
  margin: 1px;
  background-color: lightgrey;
}

.fil-arianne-container > div.current-group,
.fil-arianne-container > div.current-session {
  font-weight: bold;
}

.fil-arianne-container > div.valid-session,
.fil-arianne-container > div.valid-group {
  background-color: lightgoldenrodyellow;
  cursor: pointer;
}

.table {
  text-align: left;
}
.form-declaration {
  width: 100%;
  /* margin: 50px; */
}

div.form-session-container.isSession {
  min-height: 400px;
  display: flex;
  align-items: center;
}

.table-declaration tbody {
  font-size: 0.8rem;
}

.table-declaration td,
.table-declaration th {
  text-align: justify;
  padding: 1px 10px;
  /* border: 0px; */
}

.table-declaration th[colspan] {
  background-color: #e6e6e6;
  font-size: 0.9rem;
}

.table-declaration th:not([colspan]) {
  /* background-color: #e6ded8; */
  padding-left: 20px;
  /* border-color: #a99d8a; */
}

.declaration {
  width: 8.3in;
}
