
{%- import "modules/oeasc/macros/macros_display.html" as macros_display %}

<div id ="declaration" data-declaration='{{ declaration | tojson if declaration else ""  }}'>

  {%- set foret = declaration["foret"]%}

  <table class="table table-declaration">
    <col class="t1">
    <col class="t2">

    <tbody>
      <tr><th colspan=3> Informations</th></tr>
      {% if declaration.meta_create_date %}

      <tr>
        <th>Date</th>
        <td>{{utils.print_date(declaration['meta_create_date'])}}</td>
      </tr>
      {% endif %}
      <tr>
        <th>Accessibilité</th>
        <td>{{ declaration.id_nomenclature_peuplement_acces.label_fr | lower }}</td>
      </tr>
      <tr>
        <th>Espèces présentes</th>
        <td>{{macros_display.list_nomenclatures('', declaration.nomenclatures_peuplement_espece, '')}}</td>
      </tr>
    </tbody>


    {% if declaration.declarant %}
    <tbody>
      <tr><th colspan=3> Déclarant</th></tr>
      <tr>
        <th>NOM prénom</th>
        <td>{{declaration.declarant.nom_role | upper}} {{declaration.declarant.prenom_role}}</td>
      </tr>
      <tr>
        <th>Organisme</th>
        <td>{{declaration.declarant.organisme}}</td>
      </tr>
    </tbody>
    {% endif %}

    <tbody>
      <tr>
        <th colspan=3>Forêt</th>
      </tr>
      <tr>
        <th>Nom</th>
        <td>{{foret.label_foret if foret.label_foret!="" else "nom inconnu"}}</td>
      </tr>
      <tr>
        <th>Statut</th>
        <td>{%- if foret.b_statut_public %} public {%- else %} privé {%- endif %}</td>
      </tr>
      <tr>
        <th>Documentée</th>
        <td>{%- if foret.b_document %}
          {%- if foret.b_statut_public %}
          oui <i>(régime forestier)</i>
          {%- else %}
          oui <i>(document de gestion durable)</i>
          {%- endif %}
          {%- else %}
          non
        {%- endif %}</td>
      </tr>

      <tr>
        <th>Type</th>
        <td>{{ utils.get_foret_type(declaration['foret']) | lower}}</td>
      </tr>
      <tr>
        <th>Commune(s)</th>
        <td>{{ macros_display.list_areas('OEASC_COMMUNE','', declaration["foret"]["areas_foret"]) }}</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th colspan="3">Peuplement - <i>localisation</i></th>
      </tr>
      <tr>
        <th>Massif</th>
        <td>{{ macros_display.list_areas('OEASC_SECTEUR', '', declaration["areas_localisation"]) }}</td>
      </tr>

      <tr>
        <th>Parcelles</th>
        <td>
          {{ macros_display.list_areas('OEASC_CADASTRE', '', declaration["areas_localisation"]) }}
          {{ macros_display.list_areas('OEASC_ONF_PRF', '', declaration["areas_localisation"]) }}
          {# {{ macros_display.list_areas('OEASC_ONF_UG', '', declaration["areas_localisation"]) }} #}
        </td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th colspan="3">Peuplement - <i>essence(s)</i></th>
      </tr>
      <tr>
        <th>Principale</th>
        <td>{{ declaration.id_nomenclature_peuplement_essence_principale.label_fr | lower |nopar }}</td>
      </tr>

      <tr>
        <th>Secondaire(s)</th>
        <td>{{macros_display.list_nomenclatures('', declaration.nomenclatures_peuplement_essence_secondaire)}}</td>
      </tr>

      <tr>
        <th>Complémentaire(s)</th>
        <td>{{macros_display.list_nomenclatures('', declaration.nomenclatures_peuplement_essence_complementaire)}}</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th colspan="3">Peuplement - <i>description</i></th>
      </tr>
      <tr>
        <th>Origine</th>
        <td>{{ declaration.id_nomenclature_peuplement_origine.label_fr | lower }}</td>
      </tr>

      <tr>
        <th>Type</th>
        <td>{{ declaration.id_nomenclature_peuplement_type.label_fr | lower }}</td>
      </tr>

      {%- if  declaration.nomenclatures_peuplement_maturite %}
      <tr>
        <th>Maturité</th>
        <td>{{macros_display.list_nomenclatures('', declaration.nomenclatures_peuplement_maturite, '')}}</td>
      </tr>
      {%- endif %}
    </tbody>

    <tbody>
      <tr>
        <th colspan="3">Peuplement - <i>protection</i></th>
      </tr>
      <tr>
        <th> Existence</th>
        <td>{%- if declaration.b_peuplement_protection_existence %} oui {%- else %} non {%- endif %}</td>
      </tr>

      {%- if declaration.b_peuplement_protection_existence %}
      <tr>
        <th>Type</th>
        <td>{{macros_display.list_nomenclatures('', declaration.nomenclatures_peuplement_protection_type, '')}}</td>
      </tr>
      {%- if declaration.autre_protection %}
      <tr>
        <th>Autre protection</th> 
        <td>{{ declaration.autre_protection }}</td>
      </tr>
      {%- else %}
      <tr></tr>
      {% endif %}
      {%- else %}
      <tr></tr>
      <tr></tr>
      {%- endif %}
    </tbody>

    <tbody>
      <tr>
        <th colspan="3">Peuplement - <i>pâturage</i></th>
      </tr>
      <tr>
        <th> Présence</th>
        <td>{%- if declaration.b_peuplement_paturage_presence %} oui {%- else %} non {%- endif %}</td>
      </tr>
      {%- if declaration.b_peuplement_paturage_presence %}
      <tr>
        <th>Type</th>
        <td>{{macros_display.list_nomenclatures('', declaration.nomenclatures_peuplement_paturage_type, '')}}</td>
      </tr>
      <tr>
        <th>Statut</th>
        <td>{{ declaration.id_nomenclature_peuplement_paturage_statut.label_fr | lower | nopar}}</td>
      </tr>
      <tr>
        <th>Fréquence</th>
        <td>{{ declaration.id_nomenclature_peuplement_paturage_frequence.label_fr | lower | nopar}}</td>
      </tr>
      <tr></tr>
      {%- endif %}
    </tbody>


    <tbody>
      <tr>
        <th colspan="3">Dégats</th>
      </tr>
      {%- for degat in declaration.degats %}

      {%- for degat_essence in degat['degat_essences'] %}
      {% if degat_essence != {} %}
      <tr>
        {% if not loop.index0 %}
        <th rowspan="{{degat['degat_essences'] | length}}">{{ degat.id_nomenclature_degat_type.label_fr}}</th>
        {% endif %}
        <td>
          {{ degat_essence.id_nomenclature_degat_essence.label_fr}}{{"." if degat.id_nomenclature_degat_type.cd_nomenclature == 'ABS' else " :"}}
          {% if degat.id_nomenclature_degat_type.cd_nomenclature != 'ABS' %}
          {{ degat_essence.id_nomenclature_degat_etendue.label_fr | lower }},
          {{ degat_essence.id_nomenclature_degat_gravite.label_fr | lower}},
          {{ degat_essence.id_nomenclature_degat_anteriorite.label_fr | nopar | lower}}
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {%- endfor %}
      {% if not degat['degat_essences'] %}
      <tr>
        <th>{{ degat.id_nomenclature_degat_type.label_fr}}</th>
        <td></td>
      </tr>
      {% endif %}
      {%- endfor %}
    </tbody>
    <tbody>
      <tr>
        <th colspan="3">Comentaires</th>
      </tr>
      <tr>
        <th></th>
        <td>
            {{ declaration.commentaire|nl2br or "" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
