
{%- import "modules/oeasc/macros/macros_display.html" as macros_display %}
{%- import "modules/oeasc/macros/macros_display_map.html" as macros_display_map %}

{%- if session.current_user %}
{%- set cond_modifier_effacer = (session.current_user.id_droit_max >= 4) or (session.current_user.id_role == declaration_table.id_declarant) %}
{%- else %}
{%- set cond_modifier_effacer = false %}
{%- endif %}

{% if btn_action %}
<div>
  {%- if cond_modifier_effacer %}
  <a class="btn-action" href="{{ url_for('declaration.modifier_declaration', id_declaration=declaration_table['id_declaration'])}}" title="Modifier la déclaration" target="_blank" data-toggle="tooltip">
    <span class="fas fa-pen"></span>
  </a>
  {%- endif %}
  <i class="btn-action" onclick="M.toPDF_map('declaration_' + {{ declaration_table['id_declaration'] }});" title="Exporter la déclaration au format PDF" data-toggle="tooltip">
    <span class="fas fa-file-alt "></span>
  </i>

</div>
{% endif %}

<div id ="declaration_{{declaration_table.id_declaration if declaration_table.id_declaration}}"
class="pdf-like" 
data-declaration='{{ declaration_table | tojson if declaration_table else ""  }}'
filename="declaration_{{declaration_table['id_declaration']}}_{{declaration_table['label_foret'] | replace(' ', '-') if declaration_table['label_foret']}}_{{utils.print_date(declaration_table['meta_create_date']) | replace(' ', '') if declaration_table['meta_create_date']}}.pdf">



  <h2>Déclaration {{ 'n° '+ utils.to_string(declaration_table['id_declaration']) if declaration_table['id_declaration']}}</h2>

{%- set foret = declaration_table["foret"]%}

<div>

  <table class="table table-declaration">
    <col class="t1">
    <col class="t2">

    <tbody>
      <tr><th colspan=3> Informations</th></tr>
      <!-- <tr>
          <th>Id</th>
          <td>{{declaration_table['id_declaration']}}</td>  
      </tr> -->
      <tr>
        <th>Partage d'information</th>
        <td>{%- if declaration_table.b_autorisation %} Autorisé {%- else %} Non autorisé {%- endif %}</td>  
    </tr>
      <tr>
        <th>Date</th>
        <td>{{utils.print_date(declaration_table['declaration_date'])}}</td>
      </tr>
      <tr>
        <th>Accessibilité</th>
        <td>{{ declaration_table.peuplement_acces_label | lower }}</td>
      </tr>
      <tr>
        <th>Espèces présentes</th>
        <td>{{ declaration_table.espece_label }}</td>
      </tr>
    </tbody>

    {% if declaration_table.declarant %}
    <tbody>
      <tr><th colspan=3> Déclarant</th></tr>
      <tr>
        <th>NOM prénom</th>
        <td>{{ declaration_table.declarant }}</td>
      </tr>
      <tr>
        <th>Organisme</th>
        <td>{{ declaration_table.organisme }}</td>
      </tr>
    </tbody>
    {% endif %}

    <tbody>
      <tr>
        <th colspan=3>Forêt</th>
      </tr>
      <tr>
        <th>Nom</th>
        <td>{{ declaration_table.label_foret if declaration_table.label_foret!="" else "nom inconnu" }}</td>
      </tr>
      <tr>
        <th>Statut</th>
        <td>{{ declaration_table.statut_public }}</td>
      </tr>
      <tr>
        <th>Documentée</th>
        <td>
          {%- if declaration_table.b_document %}
          {%- if declaration_table.b_statut_public %}
          oui <i>(régime forestier)</i>
          {%- else %}
          oui <i>(document de gestion durable)</i>
          {%- endif %}
          {%- else %}
          non
        {%- endif %}
      </td>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{ utils.get_foret_type(declaration_table['id_foret']) | lower}}</td>
      </tr>
      <tr>
        <th>Commune(s)</th>
        <td>{{ declaration_table['communes'] }}</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th colspan="3">Peuplement - <i>localisation</i></th>
      </tr>
      <tr>
        <th>Secteur</th>
        <td>{{ declaration_table['secteur'] }}</td>
      </tr>
      <tr>
        <th>Parcelle(s)</th>
        <td>{{ declaration_table['parcelles'] }}</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th colspan="3">Peuplement - <i>essence(s)</i></th>
      </tr>
      <tr>
        <th>Principale</th>
        <td>{{ declaration_table.peuplement_ess_1_label | lower |nopar }}</td>
      </tr>
      <tr>
        <th>Secondaire(s)</th>
        <td>{{ declaration_table.peuplement_ess_2_label | lower |nopar }}</td>
      </tr>
      <tr>
        <th>Complémentaire(s)</th>
        <td>{{ declaration_table.peuplement_ess_3_label | lower |nopar }}</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th colspan="3">Peuplement - <i>description</i></th>
      </tr>
      <tr>
        <th>Superficie (ha)</th>
        <td>{{ declaration_table.peuplement_surface or 'Non renseignée' }}</td>
      </tr>
      <tr>
        <th>Origine</th>
        <td>{{ declaration_table.peuplement_origine_label | lower }}</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{ declaration_table.peuplement_type_label | lower }}</td>
      </tr>
      <tr>
        <th>Maturité</th>
        <td>{{ declaration_table.peuplement_maturite_label | lower }}</td>
      </tr>
    </tbody>

    <tbody>
      <tr>
        <th colspan="3">Peuplement - <i>protection</i></th>
      </tr>
      <tr>
        <th> Existence</th>
        <td>{%- if declaration_table.b_peuplement_protection_existence %} oui {%- else %} non {%- endif %}</td>
      </tr>
      {%- if declaration_table.b_peuplement_protection_existence %}
      <tr>
        <th>Type</th>
        <td>{{ declaration_table.peuplement_protection_type_label | lower }}</td>
      </tr>
      <tr>
        <th>Autre protection</th>
        <td>{{ declaration_table.autre_protection }}</td>
      </tr>
      {%- endif %}
    </tbody>

    <tbody>
      <tr>
        <th colspan="3">Peuplement - <i>pâturage</i></th>
      </tr>
      <tr>
        <th> Présence</th>
        <td>{%- if declaration_table.b_peuplement_paturage_presence %} oui {%- else %} non {%- endif %}</td>
      </tr>
      {%- if declaration_table.b_peuplement_paturage_presence %}
      <tr>
        <th>Type</th>
        <td>{{ declaration_table.peuplement_paturage_type_label | lower }}</td>
      </tr>
      <tr>
        <th>Statut</th>
        <td>{{ declaration_table.peuplement_paturage_statut_label | lower | nopar}}</td>
      </tr>
      <tr>
        <th>Fréquence</th>
        <td>{{ declaration_table.peuplement_paturage_frequence_label | lower | nopar}}</td>
      </tr>
      <tr></tr>
      {%- endif %}
    </tbody>


    <tbody>
      <tr>
        <th colspan="3">Dégâts</th>
      </tr>
      {%- for degat in declaration_table.degats %}

      {%- for degat_essence in degat['degat_essences'] %}
      {% if degat_essence != {} %}
      <tr>
        {% if not loop.index0 %}
        <th rowspan="{{degat['degat_essences'] | length}}">{{ degat.degat_type_label}}</th>
        {% endif %}
        <td>
          {{ degat_essence.degat_essence_label}}{{"." if degat.degat_type_mnemo == 'Abs.' else " :"}}
          {% if degat.degat_type_mnemo != 'Abs.' %}
          {{ degat_essence.degat_etendue_label | lower }},
          {{ degat_essence.degat_gravite_label | lower}},
          {{ degat_essence.degat_anteriorite_label | nopar | lower}}
          {% endif %}
        </td>
      </tr>
      {% endif %}
      {%- endfor %}
      {% if not degat['degat_essences'] %}
      <tr>
        <th>{{ degat.degat_type_label}}</th>
        <td></td>
      </tr>
      {% endif %}
      {%- endfor %}
    </tbody>

    {% if declaration_table.commentaire %}
    <tbody>
      <tr>
        <th colspan="3">Commentaires</th>
      </tr>
      <tr>
        <th></th>
        <td>
          {{ declaration_table.commentaire|nl2br or "" }}
        </td>
      </tr>
      
    </tbody>
    {% endif %}    
  </table>

</div>

{% if map_display %}

<div id="show_declarations" class="page-break declaration_table-maps">
  {{ macros_display_map.map_localisation(id_declaration, "global", "Localisation de l'alerte dans le périmètre de l'Observatoire") }}
  {{ macros_display_map.map_localisation(id_declaration, "medium", "Localisation des parcelles") }}
  {{ macros_display_map.map_localisation(id_declaration, "local", "Carte des parcelles") }}
</div>

{% endif %}

</div>
