    {%- import "modules/oeasc/macros/macros_display.html" as macros_display %}

    <div id ="declaration" data-declaration='{{ declaration | tojson if declaration else ""  }}'>

      {%- set foret = declaration["foret"]%}

      <div class=row>

        <div class="col-md-6">


          {% if declaration.declarant %}
          <div class="form-group">
            <h5>Déclarant</h5>
            <ul>
              <li><b>Nom, prénom</b> : {{declaration.declarant.nom_role | upper}} {{declaration.declarant.prenom_role}}</li>
              <li><b>Organisme</b> : {{declaration.declarant.organisme}}</li>
            </ul>
          </div>
          {% endif %}

          <div class="form-group">
            <h5>Forêt</h5>
            <ul>

              <li><b>Nom de la forêt</b> : {{foret.label_foret if foret.label_foret!="" else "nom inconnu"}}</li>
              <li><b>Statut</b> : {%- if foret.b_statut_public %} public {%- else %} privé {%- endif %}</li>
              <li><b>Documentée</b> :

                {%- if foret.b_document %}

                {%- if foret.b_statut_public %}
                oui <i>(régime forestier)</i>
                {%- else %}
                oui <i>(document de gestion durable)</i>
                {%- endif %}

                {%- else %}

                non

                {%- endif %}
              </li>
              <li><b>Type de forêt</b> : {{ utils.get_foret_type(declaration['foret']) | lower}}.</li>
              {{ macros_display.list_areas('OEASC_COMMUNE', 'Commune(s)', declaration["foret"]["areas_foret"], 'li') }}
              {{ macros_display.list_areas('OEASC_SECTION', 'Section(s) cadastrale(s)', declaration["foret"]["areas_foret"], 'li') }}

            </ul>
          </div>

          <div class="form-group">

            <h5>Localisation du peuplement</h5>

            <ul>

              {{ macros_display.list_areas('OEASC_CADASTRE', 'Parcelle(s)', declaration["areas_localisation"], 'li') }}
              {{ macros_display.list_areas('OEASC_ONF_PRF', 'Parcelle(s)', declaration["areas_localisation"], 'li') }}
              {{ macros_display.list_areas('OEASC_ONF_UG', 'Unité(s) de gestion', declaration["areas_localisation"], 'li') }}
              {{ macros_display.list_areas('OEASC_SECTEUR', 'Massif', declaration["areas_localisation"], 'li') }}

            </ul>

          </div>


          <div class="form-group">

            {%- include "modules/oeasc/entity/degats.html"%}

          </div>


          <div class="form-group">

            <h5>Commentaires</h5>

            {{ declaration.commentaire|nl2br or "" }}

          </div>

        </div>

        <div class="col-md-6">

          <div class="form-group">

            <h5>Essences objectif</h5>

            <ul>

              <li><b>Principale</b> : {{ declaration.id_nomenclature_peuplement_essence_principale.label_fr | lower }}.</li>

              {{macros_display.list_nomenclatures('Secondaire(s)', declaration.nomenclatures_peuplement_essence_secondaire, 'li')}}

              {{macros_display.list_nomenclatures('Complémentaire(s)', declaration.nomenclatures_peuplement_essence_complémentaire, 'li')}}

            </ul>

          </div>

          <div class="form-group">

            <h5>Description du peuplement</h5>

            <ul>
              <li><b>Origine</b> : {{ declaration.id_nomenclature_peuplement_origine.label_fr | lower }}.</li>
              <li><b>Type</b> : {{ declaration.id_nomenclature_peuplement_type.label_fr | lower }}.</li>
              {# {%- if  declaration.id_nomenclature_peuplement_type.cd_nomenclature != "FIRR" %} #}
              {{macros_display.list_nomenclatures('Maturité', declaration.nomenclatures_peuplement_maturite, 'li')}}
              {# {%- endif %} #}

            </ul>

          </div>

          <div class="form-group">

            <h5>Dispositif de protection</h5>

            <ul>
              <li><b>Existence</b> : {%- if declaration.b_peuplement_protection_existence %} oui {%- else %} non {%- endif %}.</li>

              {{macros_display.list_nomenclatures('Type', declaration.nomenclatures_peuplement_protection_type, 'li')}}

              {%- if declaration.autre_protection %}
              <li><b>Autre protection</b> : {{ declaration.autre_protection }}.
              {% endif %}
            </ul>

          </div>

          <div class="form-group">

            <h5>Pâturage domestique</h5>

            <ul>
              <li><b>Existence</b> : {%- if declaration.b_peuplement_paturage_presence %} oui {%- else %} non {%- endif %}.</li>

              {%- if declaration['b_peuplement_paturage_presence'] %}

              {{macros_display.list_nomenclatures('Type', declaration.nomenclatures_peuplement_paturage_type, 'li')}}
              <li><b>Statut</b> : {{ declaration.id_nomenclature_peuplement_paturage_statut.label_fr | nopar | lower }}.</li>

              {{macros_display.list_nomenclatures('Statut', declaration.nomenclatures_peuplement_paturage_statut, 'li')}}

              <li><b>Fréquence</b> : {{ declaration.id_nomenclature_peuplement_paturage_frequence.label_fr | nopar | lower }}. </li>

              {% set elem = declaration.id_nomenclature_peuplement_paturage_frequence %}
                {% if elem['cd_nomenclature'] == "PPAF_PER" %}
              {{macros_display.list_nomenclatures('Saisonalité', declaration.nomenclatures_peuplement_paturage_saison, 'li')}}
                {% endif %}

              {%- endif %}

            </ul>

          </div>

          <div class="form-group">

            <h5>Informations complémentaires</h5>

            <ul>
              <li><b>Accessibilité du peuplement</b> : {{ declaration.id_nomenclature_peuplement_acces.label_fr | lower }}.</li>

              {{macros_display.list_nomenclatures('Espèces présentes', declaration.nomenclatures_peuplement_espece, 'li')}}

            </ul>

          </div>

        </div>

      </div>

    </div>
