{# form_map_macros.html #}

{%- macro select_map(type_code, areas, areas_container=[],  titre="", b_multiple=true) %}

  {%- set dict_label = {
  "OEASC_ONF_FRT" : "forêts relevant du régime forestier",
  "OEASC_ONF_PRF" : "parcelles forestières",
  "OEASC_ONF_UG" : "unités de gestion",
  "OEASC_DGD" : "forêts dotées d'un document de gestion",
  "OEASC_CADASTRE" : "parcelles cadastrales",
  "OEASC_SECTION" : "sections cadastrales",
  "OEASC_COMMUNE" : "communes",
  } %}

  {%- set dict_label_elem = {
  "OEASC_ONF_FRT" : "la forêt concernée",
  "OEASC_ONF_PRF" : "la ou les parcelles forestières sur lesquelles est située le peuplement concerné par les dégâts",
  "OEASC_ONF_UG" : "la ou les unités de gestion forestières sur lesquelles est située le peuplement concerné par les dégâts",
  "OEASC_DGD" : "la forêt",
  "OEASC_CADASTRE" : "la ou les parcelles forestières cadastrales sur lesquelles est située le peuplement concerné par les dégâts",
  "OEASC_SECTION" : "la ou les sections cadastrales concernées",
  "OEASC_COMMUNE" : "la ou les communes concernées",
  } %}

  {%- set dict_label_container = {
  "OEASC_ONF_FRT" : "Forêt relevant du régime forestier",
  "OEASC_ONF_PRF" : "Parcelles forestières",
  "OEASC_DGD" : "Forêt dotée d'un document de gestion durable",
  "OEASC_SECTION" : "Sections cadastrales",
  "OEASC_COMMUNE" : "Communes",
  } %}

<div id="select_map_{{ type_code }}" class="select_map" data-type-code='{{ type_code }}'  data-areas-container='{{ areas_container|tojson if areas_container is defined else [] }}'>

  <h4>Localisation : {{dict_label[type_code]}}</h4>

  <p>Veuillez sélectionner {{dict_label_elem[type_code]}} sur la carte ci-dessous <label for="aide_carte"><i class="small"></i></label> ou dans la liste ci-contre.<label for="tooltip_{{ type_code }}"></label></p>

  <div class="row">

    <div class="col-md-8">

      <div id="form_localisation_map_{{ type_code }}">
        <div id="map_{{type_code}}" class="map"></div>
        <div id="infos_map" class="infos_map"></div>
        <div id="chargement">
          <div>Chargement en cours <span class="fa fa-spinner"></span></div>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      {%- if areas_container %}
      <div>
        <p> <i>{{ dict_label_container[areas_container[0]["type_code"]] }}</i> </p>
        <div class="scroll">
          <ul>
            {%- for area in areas_container %}
            <li>{{area['label']}} {{ "(" + area['area_code'] + ")" if area['type_code'] == 'OEASC_SECTION' else ''}}</li>
            {% endfor %}
          </ul>
        </div>
        {% if type_code in ['OEASC_SECTION', 'OEASC_ONF_UG'] %}
        <button type=button id="reinit_container" class="btn btn-danger">Revenir au choix des {{ dict_label_container[areas_container[0]["type_code"]] | lower }}</button>
        {% endif %}
      </div>
      {% elif type_code == 'OEASC_DGD' %}
      <div><button type=button id="dgd_not_in_list" class="btn btn-danger">La forêt recherchée n'est pas dans la liste</button> <label for="dgd_not_in_list"></label></div>
      <hr>
      {% endif %}



      <div class="localisation-select form-group select-required">

        {% if b_multiple %}

          {% set multiple = 'multiple data-actions-box="true"' %}

        {% else %}

          {% set multiple = '' %}

        {% endif %}

        <div><label for="{{ type_code }}">Liste des {{ dict_label[type_code] }}<span class="big-red">*</span></label></div>
        <select data-dropup-auto="true" name="{{ type_code }}" id="{{ type_code }}" title="{{'Choisir un ou plusieurs éléments dans la liste' if multiple else 'Choisir un élément dans la liste'}}" {{ multiple }} required class="selectpicker" data-width="fit" data-live-search="true">
        </select>
      </div>

      <div  style="display: none;" id="info_no_UG">
        <p class="alert alert-danger">Il n'y a pas d'unité de gestion associées aux parcelles forestières selectionnées prédemment.</p>
        <p class="alert alert-info">Veuillez cliquer sur suivant.</p>
      </div>
      <input type=submit value=Suivant class="btn btn-success float-right">

    </div>

  </div>

</div>

{%- endmacro %}
