{# macros_display_nomenclature.html #}

{%- macro list_areas(type_code, titre, areas, balise=None) %}

  {%- set areas_selected = utils.get_areas_from_type_code(areas, type_code) %}

  {%- if areas_selected %}

  {%- if balise %}
  <{{ balise }}>
  {% endif %}

    {%- for area in areas_selected %}

      {%- if type_code == 'OEASC_COMMUNE' %}
        <b>{{titre + " : " if loop.first and titre}}</b>{{area.area_name}}{{ "," if not loop.last else "" }}
      {% else %}
        <b>{{titre + " : " if loop.first and titre}}</b>{{area.area_name}}{{ "," if not loop.last else "" }}
      {% endif %}

    {%- endfor %}

  {%- if balise %}
  </{{ balise }}>
  {% endif %}

  {% endif %}

{% endmacro%}


{%- macro list_nomenclatures(titre, nomenclatures, balise) %}

  {%- if nomenclatures %}

  <{{balise}}>

    {%- for elem in nomenclatures %}

        <b>{{titre + " : " if loop.first}}</b>{{elem.label_fr | nopar | lower}}{{ "," if not loop.last else "" }}
    {%- endfor %}

  </{{balise}}>

  {% endif %}

{% endmacro%}


{%- macro tooltip_areas(type_code, areas) %}
  {%- set areas_selected = utils.get_areas_from_type_code(areas, type_code) %}
  {%- set ns = namespace(str_areas = "") %}

  {%- set ns.str_areas = "" %}
  {% for area in areas_selected %}
    {%- if type_code == 'OEASC_COMMUNE' %}
      {%- set ns.str_areas = ns.str_areas + area.area_name %}
    {%- else %}
    {%- set ns.str_areas = ns.str_areas + area.label %}
    {%- endif %}
    {%- if not loop.last %}
      {%- set ns.str_areas = ns.str_areas + ", " %}
    {%- endif %}
  {% endfor %}
  <span data-toggle="tooltip" title="{{ns.str_areas}}">{{ns.str_areas }}</span>
{%- endmacro %}


{%- macro tooltip_mnemonique(elem) %}
{% if elem.id_nomenclature %}
 <span data-toggle="tooltip" title="{{elem.label_fr}}">{{elem.mnemonique}}</span>
{% elif elem %}
 {% for item in elem %}
 <span data-toggle="tooltip" title="{{item.label_fr}}">{{item.mnemonique}}</span>{{ "," if not loop.last else "" }}
 {% endfor %}
{% endif %}
{%- endmacro %}
