{%- extends "modules/oeasc/site/layout.html" %}


{%- block title %}Login{%- endblock %}

{%- block content %}
<div class="row">

    <div class="col-md-12 text">

        <div>

            
            {%- if (browser in ['msie', 'safari', 'opera']) %}
            {%- endif %}
{% include "modules/oeasc/user/message_ie.html" %}
           
            {{redirect_url}}

            <h2>Connexion</h2>

            <div>
                {%- if token %}

                <p class="alert alert-success" id="validation_compte" style="display: none;"> Votre compte a bien été validé. Veuillez vous connecter avec votre identifiant et votre mot de passe.</p>

                {%- endif %}
            </div>

            <div id="pending" class="alert alert-info" style="display: none">Requête en cours... Veuillez patienter.</div>

            <form class="container main-zone ng-scope " id="form_login">

                {% if "modifier_ou_creer_declaration" in redirect_url 
                or "informations" in redirect_url %}

                <p class='alert alert-info'>Vous devez vous identifier afin de déclarer des dégâts en forêt.</p>

                {% endif %}

                {% if type == "add_droit" %}

                <p class="alert alert-info"> Connectez-vous afin de créer des droits pour l'application OEASC sur votre compte déjà existant.</p>

                {% endif %}

                {% if not token and type != "add_droit" %}
                <hr>
                <p >Si vous ne possédez pas encore de compte, vous pouvez  
                    {% set href=url_for('user.route_user')%}
                    <button type=button class='btn btn-primary' onclick="location.href='{{href}}'">créer un compte</button>
                </p>
                {% endif %}

                <div class="alert alert-danger" role="alert" id="login-error" style="display: none;">
                    Paramètres de connexion invalides
                </div>

                <table class="table">
                    <tr>
                        <th>Identifiant <span data-toggle="tooltip" title="L'identifiant correspond à l'e-mail utilisé pour l'inscription." class="fas fa-question-circle"></span> :
                        </th>
                        <td>
                            <input type="text" class="form-control" id="identifiant" value={{identifiant}}>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Mot de passe :
                            <br>
                            <span style='font-size: 0.8em' ><a title="Vous pouvez faire une demande de changement de mot de passe en cliquant sur ce lien." href="{{url_for('user.change_password')}}">Mot de passe oublié ?</a></span>

                        </th>
                        <td>
                            <input type="password" class="form-control" id="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success">Se connecter</button>
                        </td>
                    </tr>
                </table>
            </form>

        </div>
    </div>

</div>
{%- endblock %}


{%- block js_local %}

{{ super() }}

<script>

    $(document).ready(function() {

        "use strict";

        var type = "{{ type }}";
        var token = "{{ token }}";

        $("#login-error").hide();

        if (token) {

            $("#validation_compte").hide();
            $("#pending").show();
            $("form").hide();
            $.ajax({
                type:'POST',
                url: '/pypn/register/post_usershub/valid_temp_user',
                data: JSON.stringify({
                    token: token,
                    id_application: M.config.ID_APP,
                }),
                contentType:"application/json; charset=utf-8",
                dataType: "json",

            }).done(function(response) {
                $("#pending").hide();
                $("form").show();
                console.log("validation done", response);
                $("#validation_compte").show();
                $("#identifiant").val(response.identifiant)

            }).fail(function(error) {

                console.log("fail", error);
                $("#pending").hide();
                $("form").show();
                var msg = error.responseJSON ? error.responseJSON.msg : error.responseText;
                $("#login-error" ).html(msg);
                $("#login-error" ).show();

            });

        }

        var redirection = '{{ redirect_url }}'.replace(/\&#34;/g, '');

        if (redirection == "") {

            redirection = $(location).attr('origin');

        }

        console.log(redirection);

        var login_request = function() {

            $.ajax({
                type:'POST',
                url : '/pypn/auth/login',
                data : JSON.stringify ({
                    "id_application": M.config.ID_APP,
                    "login": $('#identifiant').val().trim(),
                    "password" : $('#password').val()
                }),
                contentType:"application/json; charset=utf-8",
                dataType:"json"})
            .done(function(response){
                console.log("done", response);
                window.location.href = redirection;})
            .fail(function(error){
                console.log("fail", error);
                var msg = error.responseJSON ? error.responseJSON.msg : error.responseText;
                $("#login-error" ).html(msg);
                $("#login-error" ).show();
            });
        }

        var login = function(e) {

            e.preventDefault();

            $("#login-error").hide();

            if(type == "add_droit") {

                $.post({
                    url : '/pypn/register/post_usershub/add_application_right_to_role',
                    data : JSON.stringify ({
                        "id_application": M.config.ID_APP,
                        "login": $('#identifiant').val().trim(),
                        "password" : $('#password').val()}  ),
                    contentType:"application/json; charset=utf-8",
                    dataType:"json"})
                .done(function(response){

                    console.log(response);
                    login_request();
                })
                .fail(function(error){

                    console.log("fail", error);
                    var msg = error.responseJSON ? error.responseJSON.msg : error.responseText;
                    $("#login-error" ).html(msg);
                    $("#login-error" ).show();

                });

            } else {

                login_request();
            }

        };

        $("#form_login").submit(login);

    });

</script>

{%- endblock %}
