{%- extends "modules/oeasc/site/layout.html" %}


{%- block title %} utilisateurs {%- endblock %}

{%- block content %}

<div class="row">

  <div class="col-md-12">

    <h2>Utilisateurs</h2>

    <div id="info"></div>

    <table class="dataTable table table-striped table-small">
<thead>
  
      <tr>
        <th>id</th>
        <th>Organisme</th>
        <th>Nom, Prénom</th>
        <th>E-mail</th>
        <th>Rôle</th>
        <th>Droits</th>
      </tr>
</thead>

<tbody>
  
      {% for user in users %}

      <tr id="role_"{{user.id_role}}>
        <td>{{user.id_role}}</td>
        <td>{{user.organisme}}</td>
        <td>{{user.nom_role | upper}} {{user.prenom_role}}</td>
        <td>{{user.email}}</td>
        <td>{{user.desc_role}}</td>
        <td>

          {% if current_user.id_droit_max > user.id_droit_max %}

          <select class="change_droit" name="droit_user_{{user.id_role}}" id="droit_user_{{user.id_role}}" data-id_role="{{user.id_role}}">
            {% for ind in range(1, current_user.id_droit_max + 1) %}

            <option value="{{ind}}" {{"selected" if ind == user.id_droit_max }}>{{ind}}</option>
            {% endfor %}
          </select>

          {% else %}

          {{user.id_droit_max}}

          {% endif %}

        </td>
      </tr>

      {% endfor %}
</tbody>

    </table>

  </div>

</div>

{%- endblock %}


{%- block js_local %}

{{ super() }}

<script>

  $(document).ready(function() {

    "use strict";

    var id_application = "{{config.ID_APP}}"

    var table = $(".dataTable").DataTable({
      "columnDefs": [
        { "type": "html-num", "targets": 0, "visible": false }
    ],
      "order": [[ 1, "asc" ], [2, "asc"]],
      "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"},
    });

    $(".change_droit").change(function() {

      var id_role = parseInt($(this).attr("data-id_role"));

      var id_droit = parseInt(this.value);

      var data = {'id_role': id_role, 'id_droit': id_droit, 'id_application' :id_application};

      var url_post = '/pypn/register/post_usershub/change_application_right'

      console.log(data)

      $.ajax({
        url : url_post,
        type: 'POST',
        data : JSON.stringify(data),
        contentType:"application/json; charset=utf-8",
        dataType:"json",
      })
      .done(function(response){
        console.log(response.responseText);
        $("#info").html("<p class='alert alert-success'>Changement de droit pour l'utilisateur " + response.id_role + "</p>")
      })
      .fail(function(response){
        console.log(response);
        $('#info').html(response.responseText);
      });

    });

  });

</script>

{%- endblock %}
