.img-titre {
  height: 172px;
  width: 100%;
  background-image: url("~@/assets/Bandeau_OEASC_172x1920_v4.jpg");
  display: flex;
  align-items: center;
  padding-left: 300px;
  // justify-content: center;
}
.oeasc-titre {
  // text-align: center;
  font-weight: bold;
  border-radius: 5px;
  text-shadow: 0 0 0.2em #000000;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 2.5rem;
}


.main-container {
  // margin: 5px;
  // padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-spaced {
  margin: 10px;
}

.oeasc-app-bar.space {
  height: 48px;
}

.pdf {
  width:8.3in;
  /* height: 11.7in; */
  padding:  0.5in;
  overflow: hidden;
}

.pdf .ignorepdf {
  display: none;
}
